.sidebar {
  width: 180px;
  background: #fafafa;
  padding: 20px 10px;
  border-right: 1px solid #ddd;
}

.sidebar-item {
  padding: 10px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}

.sidebar-item.active {
  background-color: #e8f0fe;
  font-weight: bold;
  border-left: 4px solid #6200ee;
}
